In [3]:
import pandas as pd

df = pd.read_csv("gene.csv")
df.head()

,Cell,A1BG,A1BG-AS1,A2M,A2M-AS1,A2MP1,A3GALT2,A4GALT,AAAS,AACS,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
0,VZA00602.A03,0,0,1289,1281,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,VZA00602.A05,0,0,1051,1450,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,VZA00602.A07,0,0,1640,1805,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,VZA00602.A11,0,0,1400,1090,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,VZA00602.A15,0,0,1216,2479,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN